.menu
  .menu__user
    %p.menu__user__name
      = current_user.name
    %ul.menu__user__icons
      %li.menu__user__icons__new-group
        = link_to new_group_path do
          %i.fa.fa-edit
      %li.menu__user__icons__edit-user
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .menu__groups
    = render partial: 'group'
.message-monitor
  .group-details
    .group-block
      .group-block__title
        test-group
      .group-block__member
        Member:test-user
    = link_to 'Edit', '#', class: "edit-button"
  .message-details
    = render partial: 'message'
  .message-form
    .input-box
      %input.input-box__text{ type: "text", placeholder: "type a message"}
        %label.input-box__label{ for: "upload-icon"}
          %i.fa.fa-picture-o
          %input{ type: "file", style: "display: none", id: "upload-icon"}
      %input.send-button{ type: "submit", value: "Send"}
